<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>csvimporter</name>
    <displayName><![CDATA[CSV Importer]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Import products from CSV file.]]></description>
    <author><![CDATA[Samuel Medina]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>